:host {
    height: 100vh;
    display: flex;
    flex-direction: column;
    h1 {
        color: white;
    }
    .inner-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        & > div {
            div {
                height: 100%;
            }
        }
        .bottom {
            flex-grow: 1;
        }
        .top {
            flex-grow: 2;
            height: 100%;
        }
    }
}
nz-footer {
    flex-grow: 0;
}
nz-header {
    flex-grow: 0;
}
