<nz-layout>
  <nz-header>
    <div class="logo">
      <h1>IQ180</h1>
    </div>
    <!-- <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul> -->
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <div class="top" nz-row nzGutter="16px">
        <div nz-col nzSpan="16">
          <app-game-field></app-game-field>
        </div>
        <div nz-col nzSpan="8">
          <app-players></app-players>
        </div>
      </div>
      <div class="bottom" nz-row>
        <div nz-col nzSpan="24">
          <app-chat></app-chat>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer>Team GGG x Ken ©2019 Part of Netcentric Architecture</nz-footer>
</nz-layout>
