<div>
    <nz-alert
        nzType="error"
        nzCloseable
        *ngIf="nicknameError$ | async as error"
        [nzMessage]="error"
        (nzOnClose)="nicknameError$.next()"
    >
    </nz-alert>
    <h2>What's your name ?</h2>
    <input
        nz-input
        type="text"
        placeholder="Basic usage"
        [formControl]="nickname"
    />
    <h3>Choose your avatar</h3>
    <nz-radio-group [formControl]="avatar">
        <label nz-radio *ngFor="let avatar of avatars" [nzValue]="avatar">
            <nz-avatar nzSize="large" [nzSrc]="avatar"></nz-avatar>
        </label>
    </nz-radio-group>
</div>
