<div class="main" nz-row>
    <div
        class="current"
        nz-row
        nzType="flex"
        nzJustify="space-between"
        nz-col
        [nzXs]="24"
    >
        <div nz-col [nzXs]="24" [nzLg]="18">
            <nz-card>
                <nz-card-meta
                    nzTitle="Current Player"
                    nzDescription="This is the description"
                    [nzAvatar]="avatarTemplate"
                ></nz-card-meta>
            </nz-card>
            <ng-template #avatarTemplate>
                <nz-avatar
                    nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                ></nz-avatar>
            </ng-template>
        </div>
        <div *ngIf="timer$ | async as timer" nz-col [nzXs]="24" [nzLg]="6">
            Timer: {{ timer }}
        </div>
    </div>
    <div class="game" nz-row>
        <div class="numbers" nz-col [nzXs]="24">
            <div
                cdkDropList
                #numbersList="cdkDropList"
                cdkDropListOrientation="horizontal"
                [cdkDropListData]="numbers$ | async"
                [cdkDropListConnectedTo]="[answerList]"
                class="card-list"
                nz-row
                nzType="flex"
                (cdkDropListEntered)="vibrate()"
                nzJustify="space-around"
                (cdkDropListDropped)="dropNumber($event)"
                [cdkDropListEnterPredicate]="isNumber"
            >
                <div
                    nz-col
                    nzXs="3"
                    nzMd="2"
                    nzLg="1"
                    class="card"
                    cdkDragBoundary=".game"
                    [cdkDragDisabled]="card.disabled"
                    *ngFor="let card of numbers$ | async; let i = index"
                    (click)="addNumber(card, i)"
                    [cdkDragData]="card"
                    cdkDrag
                >
                    <span>{{ card.display }}</span>
                </div>
            </div>
            <div>Expected Answer : {{ expectedAnswer$ | async }}</div>
        </div>
        <div class="answer" nz-row nz-col [nzXs]="24">
            <div nz-col [nzMd]="18" [nzXs]="24">
                <div
                    cdkDropList
                    #answerList="cdkDropList"
                    [cdkDropListData]="answer$ | async"
                    cdkDropListOrientation="horizontal"
                    [cdkDropListConnectedTo]="[numbersList, operatorList]"
                    [ngClass]="{
                        invalid: !isValidAnswer
                    }"
                    class="card-list"
                    (cdkDropListDropped)="dropAnswer($event)"
                    nz-row
                    nzType="flex"
                    nzJustify="space-around"
                >
                    <div
                        nz-col
                        nzXs="2"
                        nzMd="2"
                        nzLg="1"
                        class="card"
                        cdkDragBoundary=".game"
                        *ngFor="let card of answer$ | async; let i = index"
                        (click)="removeCard(card, i)"
                        [cdkDragData]="card"
                        [ngClass]="{
                            invalid: (wrongPositions$ | async).includes(i)
                        }"
                        cdkDrag
                    >
                        <span>{{ card.display }}</span>
                    </div>
                </div>
            </div>
            <div class="currentAnswer" nz-col [nzMd]="6" [nzXs]="24">
                <span>= {{ currentAnswer }}</span>
            </div>
        </div>
        <div class="operators" nz-col [nzXs]="24">
            <div
                nz-row
                nzType="flex"
                nzJustify="space-around"
                cdkDropList
                #operatorList="cdkDropList"
                cdkDropListOrientation="horizontal"
                [cdkDropListData]="operators"
                [cdkDropListConnectedTo]="[answerList]"
                class="card-list"
                (cdkDropListDropped)="dropOperator($event)"
                [cdkDropListEnterPredicate]="isOperator"
            >
                <div
                    nz-col
                    nzXs="3"
                    nzMd="2"
                    nzLg="1"
                    class="card"
                    cdkDragBoundary=".game"
                    [ngClass]="{
                        disabled: (operators$ | async)?.length === 4
                    }"
                    [cdkDragDisabled]="(operators$ | async)?.length === 4"
                    *ngFor="let card of operators; let i = index"
                    [cdkDragData]="card"
                    (click)="addOperator(card, i)"
                    cdkDrag
                >
                    <span>{{ card.display }}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="reset">
        <button nz-button nzType="danger" (click)="reset()">Reset</button>
    </div>
</div>
