:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 8px;
    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 8px;
        border: 1px solid #e8e8e8;
    }

    .game {
        .numbers,
        .operators {
            min-width: 200px;
            padding: 6px;
            border-radius: 4px;
            margin: 8px 0px;
            border: 1px solid #e8e8e8;
        }
        .answer {
            padding: 4px;
            .card-list {
                padding: 4px;
                border: 1px solid #e8e8e8;
            }
            .currentAnswer {
                padding: 10px;
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 2em;
                span {
                    width: 100%;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
        .operators {
            .disabled {
                opacity: 0.4;
            }
            .cdk-drag-placeholder {
                opacity: 0.6;
            }
        }
        .invalid {
            border: 1px solid red !important;
        }
        .operators {
            border: 1px solid #e8e8e8;
        }
    }
    .card-list {
        height: 100%;
        min-height: 64px;
    }
}
.card,
.cdk-drag-preview {
    height: 64px;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: width 250ms cubic-bezier(0, 0, 0.2, 1);
    border: 1px solid #e8e8e8;
}

.cdk-drag-placeholder {
    opacity: 0.6;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
