:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px;
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px;
    border: 1px solid #e8e8e8;
  }
  .game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 200px;
    }
    .numbers {
      background-color: red;
    }
    .answer {
      width: 100%;
      background-color: yellow;
    }
    .operators {
      background-color: blue;
    }
  }
  .card-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
  }
}
.card,
.cdk-drag-preview {
  width: 42px;
  height: 64px;
  font-size: 3em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0px 10px;
}

.cdk-drag-placeholder {
  opacity: 0.6;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
